body,
header,
main,
div,
button,
h1,
h2,
div,
p {
  margin: initial;
  padding: initial;
}
button {
  background: none;
  border: none;
  font: inherit;
}

/* wrapper */
.wrapper {
  width: 520px;
  box-shadow: inset 0 0 5px red;
  margin: 100px auto;
}

header {
  height: 58px;
  box-sizing: border-box;
}

header .title {
  font-size: 16px;
  text-align: center;
  line-height: 58px;
  border-bottom: 1px solid #c4c4c4;
}

main {
  padding: 26px 24px;
}

.desc {
  font-size: 20px;
  margin-bottom: 24px;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input[class^='input'] {
  height: 50px;
  border-radius: 5px;
  border: solid 1px #c4c4c4;
}
input[class^='input']::placeholder {
  font-size: 16px;
  color: #767676;
  padding-left: 16px;
}

.chbox-keeplogin {
  align-self: flex-start;
}

.site {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
a {
  display: block;
  /* width: auto; */
}
