<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flex로 레이아웃 구현하기</title>
    <link rel="stylesheet" href="flex_style.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">header</header>
      <section class="section">
        <article class="article">section>article</article>
      </section>
      <div class="aside">aside</div>
      <div class="footer">footer</div>
    </div>
  </body>
</html>
