:root {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 700; */
}

h1,
h2,
h3,
ul,
li,
p,
body {
  margin: initial;
  padding: initial;
}

ul,
li {
  list-style-type: none;
}

body {
  background-color: #673399;
}

.wrapper {
  width: 1080px;
  margin: 100px auto;
}

header {
  display: flex;
  margin-bottom: 100px;
}

h1.title {
  display: inline-block;
  color: #fdfdfe;
  /* width: 26%; */
  font-size: 40px;
  margin-right: 20px;
}

.underline {
  position: relative;
  display: block;
}

/* TODO 길이조절 */
.underline::after {
  content: '';
  background-color: orangered;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
}

.title-desc {
  color: #bd8fe8;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 25px;
  position: relative;
  margin: auto 0;
  padding-left: 80px;
}

.title-desc::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 60px;
  border-bottom: 2px solid #bd8fe8;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

div[class^='content'] {
  display: flex;
}

/* TODO 글자에 opacity 없이 */
.l-content {
  width: 26%;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

div[class^='content']:nth-child(even) {
  flex-direction: row-reverse;
}

.content-1 .l-content {
  background-image: url(images/photo01.png);
}
.content-2 .l-content {
  background-image: url(images/photo02.png);
}
.content-3 .l-content {
  background-image: url(images/photo03.png);
}

.l-content .keyword {
  font-size: 30px;
  color: #fdfdfe;
}

.r-content {
  padding: 24px;
  background-color: #fff;
}

.r-content .step {
  font-size: 18px;
  margin-bottom: 32px;
  color: #673399;
}

.r-content ul li {
  font-size: 14px;
}

.r-content li {
  position: relative;
  padding-left: 20px;
  line-height: 30px;
}

.r-content li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #bd8fe8;
  border-radius: 5px;
  margin: auto;
}

/* div {
  box-shadow: 0 0 5px inset rosybrown;
} */
