:root {
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 700; */
}

* {
  font-weight: 500;
}

p,
ul,
li,
h1,
h2,
h3 {
  margin: initial;
  padding: initial;
}

body {
  background-color: #673399;
}

/* TODO 지우기 */
div {
  box-shadow: 0 0 5px royalblue;
}

.wrapper {
  width: 1080px;
  margin: 100px auto;
  /* display: flex; */
}

header {
  display: flex;
  margin-bottom: 100px;
}

h1.title {
  display: inline-block;
  color: #fdfdfe;
  /* width: 26%; */
  font-size: 40px;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  background-color: orangered;
  display: block;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
}

.title-desc {
  /* display: block; */
  color: #bd8fe8;
  /* width: 74%; */
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  /* margin: auto 0; */
  padding-left: 75px;
  /* padding-right: 280px; */
}

/* .title-desc::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 60px;
  border-bottom: 2px solid #bd8fe8;
} */

main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}

.l-content {
  width: 26%;
  position: relative;
  display: block;
  background: url(images/photo01.png) 0 0 cover;
}

.l-content .keyword {
  font-size: 30px;
  color: #fdfdfe;
  display: block;
  /* text-align: center; */
  position: absolute;
  top: 50%;
}
