body,
header,
main,
div,
button,
h1,
h2,
div,
p,
ul,
li {
  margin: initial;
  padding: initial;
}
button {
  background: none;
  border: none;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* wrapper */
.wrapper {
  width: 520px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  /* box-shadow: inset 0 0 5px red; */
  margin: 100px auto;
}

header {
  height: 58px;
  box-sizing: border-box;
}

header .title {
  font-size: 16px;
  text-align: center;
  line-height: 58px;
  border-bottom: 1px solid #c4c4c4;
}

main {
  padding: 26px 24px;
}

.desc {
  font-size: 20px;
  margin-bottom: 24px;
}

.form-login {
  /* display: flex; */
  /* flex-direction: column; */
  width: 472px;
  gap: 10px;
}
input[class^='input'] {
  /* height: 50px; */
  display: block;
  border-radius: 5px;
  border: solid 1px #c4c4c4;
  width: calc(100% - 32px);
  padding: 15px 16px;
  font-size: 16px;
  margin-bottom: 10px;
}
input.input-pw {
  margin-bottom: 16px;
}
input[class^='input']::placeholder {
  font-size: 16px;
  color: #767676;
}
/* .chbox-keeplogin {
} */

.label-chbox {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}

.label-chbox::before {
  content: '';
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  top: -2px;
  left: 0;
  border: 1px solid #767676;
  border-radius: 50%;
}

.label-chbox::after {
  content: '';
  width: 8.5px;
  height: 5.5px;
  top: 5px;
  left: 6px;
  position: absolute;
  font-size: 16px;
  border-bottom: 1px solid #767676;
  border-left: 1px solid #767676;
  transform: rotate(-45deg);
}

.chbox-keeplogin:checked + .label-chbox::before {
  background-color: #2f80ed;
  border: none;
}

.chbox-keeplogin:checked + .label-chbox::after {
  border-color: #fff;
}
.btn-login {
  width: 472px;
  font-size: 18px;
  padding: 15px;
  background-color: #2f80ed;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
}

.login-option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  color: #767676;
}
.split-line {
  width: 1px;
  height: 18px;
  margin: 0 12px;
}
.text-or {
  position: relative;
  text-align: center;
  color: #767676;
}

.text-or::before,
.text-or::after {
  content: '';
  position: absolute;
  width: 210px;
  height: 1px;
  background-color: #c4c4c4;
  display: inline-block;
}
.text-or::before {
  top: 10px;
  left: 0;
}
.text-or::after {
  top: 10px;
  right: 0;
}
.other-login {
}

.sns-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.sns-login li a {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #767676;
  display: block;
}

.sns-login a.google {
  border: 1px solid #767676;
  position: relative;
}
.sns-login a.google::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: 11px;
  left: 12px;
  background: url(img/google_logo.svg) 0 0 / cover;
}

.sns-login .facebook {
  border: 1px solid #2d9cdb;
  position: relative;
}
.sns-login .facebook::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 23px;
  top: 11px;
  left: 19px;
  background: url(img/facebook_logo.svg) 0 0 / cover;
}

.sns-login .naver {
  border: 1px solid #00bf18;
  position: relative;
}
.sns-login .naver::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 11px;
  left: 15px;
  background: url(img/naver_logo.svg) 0 0 / cover;
}
.sns-login .kakaotalk {
  border: 1px solid #f2c94c;
  position: relative;
}
.sns-login .kakaotalk::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  top: 11px;
  left: 12px;
  background: url(img/kakao_logo.svg) 0 0 / cover;
}
