header,
button,
main,
ul,
li,
input,
textarea {
  margin: initial;
  padding: initial;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  font: inherit;
}

textarea {
  font: inherit;
  resize: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
