:root {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
ul,
li,
p,
body {
  margin: initial;
  padding: initial;
}

ul,
li {
  list-style-type: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.section-purple {
  background-color: #673399;
  padding-top: 100px;
}

/* wrapper */
.section-purple .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

/* header */
.header-purple {
  display: flex;
  margin-bottom: 100px;
}

.header-purple .title {
  display: inline-block;
  color: #fdfdfe;
  font-size: 40px;
  margin-right: 20px;
}

.header-purple .description {
  max-width: 550px;
  color: #bd8fe8;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 25px;
  position: relative;
  margin: auto 0;
  padding-left: 100px;
}

/* title bar */
.header-purple .description::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 80px;
  border-bottom: 2px solid #bd8fe8;
}

/* title underline */
.underline {
  position: relative;
  display: block;
  width: max-content;
  /* REVIEW 왜갑자기??????? */
  z-index: 10;
}
.underline::before {
  content: '';
  background-color: orangered;
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
}

/* main */
.content-purple {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-purple div[class^='card'] {
  display: flex;
}

.content-purple div[class^='card']:nth-child(even) {
  flex-direction: row-reverse;
}

.content-purple .card-cover {
  width: 26%;
  position: relative;
}

/* background img */
/* .content-1 .card-cover::after {
  background: url(images/photo01.png) no-repeat center / cover;
}
.content-2 .card-cover::after {
  background: url(images/photo02.png) no-repeat center / cover;
}
.content-3 .card-cover::after {
  background: url(images/photo03.png) no-repeat center / cover;
}
.card-cover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
} */

.card-cover img {
  object-fit: cover;
  /* width: 100%; */
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.card-cover h2 {
  font-size: 30px;
  color: #fdfdfe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-content {
  padding: 24px;
  background-color: #fff;
  flex-basis: 0;
  flex-grow: 1;
}

.card-content h3 {
  display: block;
  font-size: 18px;
  margin-bottom: 32px;
  color: #673399;
}

.card-content ul li {
  font-size: 14px;
  position: relative;
  padding-left: 20px;
  line-height: 20px;
  /* text-indent: -20px; */
  /* padding-left: 20px; */
}

/* line-style */
.card-content li::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #bd8fe8;
  border-radius: 5px;
}

/* width: ~1080px */
@media (max-width: 1080px) {
  .header-purple {
    flex-direction: column;
    margin: 0 10px 100px 30px;
  }
  .header-purple .title {
    margin-bottom: 20px;
  }
  .header-purple .description {
    padding-left: 0;
  }
  .header-purple .description::before {
    width: 0;
  }
  .content-purple {
    margin: 0 10px;
  }
}
