body,
h1,
p {
  margin: initial;
  padding: initial;
}

* {
  font-family: Helvetica, Arial;
}

body {
  background-image: url('images/bg.png');
}

div.content {
  width: 300px;
  margin: 40px auto;
}

div.content img {
  text-align: center;
  vertical-align: top;
}

div.content section.textbox {
  background-color: #93572e;
  padding: 15px 20px 34px 20px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 11px 0 -2px #4a260b;
  letter-spacing: -0.5px;
}

div.content section.textbox h1 {
  color: #fff;
  font-size: 32px;
}

div.content section.textbox p {
  margin-top: 14px;
  font-size: 17px;
  color: #d3bbae;
  line-height: 22px;
}
