* {
  font-family: Pretendard;
}

.container {
  padding: 0 88px 56px 88px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
}

.card {
  position: relative;
  width: 288px;
  height: 348px;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: block;
  overflow: hidden;
}

.card img {
  width: 100%;
  aspect-ratio: 288/196;
  /* 이미지가 찌그러지는 경우 방지 (비율에 맞게 조정) */
  object-fit: cover;
  display: block;
}

h2 {
  height: 19px;
  margin-top: 25px;
  margin-left: 16px;
  top: 1px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: #29363d;
}

.desc {
  width: 256px;
  height: 40px;
  margin-top: 12px;
  margin-left: 16px;
  bottom: 0px;

  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
  color: #5a6a72;
}

a {
  font-size: 14px;
  font-weight: bold;
  line-height: 16.8px;
  text-align: left;
  margin-left: 22px;
  margin-bottom: 19px;
  text-decoration: underline;
  color: #29363d;
}
